$brand-color:#2196F3;
$text-color-primary:#757575;
$text-color-secundary:#FFFFFF;
$dominat-color:#212121;
$button-background-color:rgba(255, 255, 255, 0.6);
$background-color:#E5E5E5;
$cards-color: #EEEEEE;
$background-index:#2F303A;
$icon-background-color:#F5F4FA;
$button-bg-hover:#1367ac;
$icons-color:#AFB1B8;
$color-white:rgba(255, 255, 255, 1);
$border-button:#ECECEC;
$brand-color-opacity:rgba(33, 150, 243, 0.9);
$black-opacity:rgba(0,0,0,0.5);
$border-black:rgba(33, 33, 33, 0.20);
$shadow-black:rgba(0, 0, 0, 0.15);
$label-text-color: rgba(117, 117, 117, 1);
$head-form-color:rgba(33, 33, 33, 1);
$background-black-section:rgba(47, 48, 58, 0.8);
$linear-black:rgba(255,255,255,0);
$black-opacity-07:rgba(0,0,0,0.7);
$icon-footer-color:rgba(255, 255, 255, 0.1);
$cards-shadow-color:rgba(0, 0, 0, 0.12);
$cards-shadow-color-variation:rgba(0, 0, 0, 0.06);
$cards-shadow-color-opacity:rgba(0, 0, 0, 0.08);
$main-font:'Roboto', sans-serif;
$secundary-font:'Raleway', sans-serif;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs12: 12px;
$fs20: 20px;
$fs26: 26px;
$fs36: 36px; 
$fs44: 44px;